@font-face {
    font-family: montserrat;
    src: url(/static/font/Montserrat/Montserrat-VariableFont_wght.ttf);
}
@font-face {
    font-family: gotham;
    src: url(/static/font/gotham_rounded/Gotham_Rounded_Medium.otf);
}

*{
    margin: 0;
    font-family: gotham;
}
body{
    background: linear-gradient(180deg, rgba(28, 65, 197, 1) 0%, rgba(20, 3, 40, 1) 100%);
}
.navbar{
    background-color: #ffffff;
}
.alert {
    position: fixed;
    top: 15%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 10000;
    background-color: #ffffff;
    color: #023919;
    border-color: #023919;
    }
.bar_atas{
    box-shadow: 0 0px 10px 0 rgba(0, 0, 0, 0.5);
}

.nav-item .nav-link {
    color: #023919;
}
.nav-item :hover{
    color: #0a9b44;
}

.diatas_konten{
    width: 100%; 
    height: 520px;
}

.pengguna img{
    color: white;
}

.container-fluid .navbar-brand img{
    width: 40px;
}

.konten{
    width: 100%;
    height: 620px;
    display: grid;
    grid-template-areas: "tulisan_konten gambar_konten";
    grid-template-columns: 40% 50%;
    grid-template-rows: 100%;
    padding: 0 0 0 5%;
}

.judul-salat{
    color: rgb(255, 255, 255);
    width: 100%;
    height: auto;
    text-align: center;
}

.judul-fase{
    color: rgb(130, 255, 105);
    width: 100%;
    text-align: center;
}

.tulisan_konten{
    color: #ffffff;
    display: grid;
    width: 100%;
    height: 80%;
    text-align: center;
    justify-content: center;
    align-items: center;
    padding: 20px 40px 20px 40px;
}
.tulisan_konten hr{
    border: 2px solid white;
    opacity: 100%;
}
.tombolah{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    gap: 50px;
}

.button_login, .button_daftar {
    background-color: #023919;
    color: #ffffff;
    padding: 10px 40px;
    text-decoration: none;
    border-radius: 5px;
    text-align: center;
    align-items: center;
    justify-content: center;
}

.button_login:hover, .button_daftar:hover {
    background-color: #0a9b44;
    color: #fff;
}
.tulisan_konten h1{
    font-size: 35px;
    margin: 0;
}
.tulisan_konten h4{
    font-size: 30px;
    margin: 0;
    margin-bottom: 20px;
}
.tulisan_konten p{
    font-size: 18px;
    margin: 0;
    margin-bottom: 20px;
}
.gambar_konten{
    display: grid;
    width: 100%;
    height: 60%;
    text-align: center;
    justify-content: center;
    align-items: center;
}
.gambar_konten img{
    width: 262px;
}

.gambar_konten_hasil{
    display: grid;
    width: 100%;
    height: 450px;
    margin-bottom: 40px ;
    text-align: center;
    justify-content: center;
    align-items: center;
}
.gambar_konten_hasil img{
    width: 500px;
    max-height: 500px; 
    overflow: hidden; 
    object-fit: cover;
}

.waktusalat{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow-x: auto;
    margin: 20px 0;
}

.box-lima-waktu{
    margin: 10px 10px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
    border: 1px solid #023919;
    background-color: white;
    width: 10vw;
    min-width: 200px;
    height: 150px;
    justify-content: center;
    text-align: center;
    padding: 10px;
    border-radius: 5px;
}
.salat{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
}

.salat h1{
    font-size: 25px;
    font-family: montserrat;
    font-weight: bold;
    color: #023919;
    margin-bottom: 10px ;
}
.salat p{
    font-size: 25px;
    font-family: montserrat;
    font-weight: bold;
    color: #023919;
    margin: 0;
}

.fase-bulan{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow-x: auto;
    margin: 20px 0;
}

.box-fase-bulan{
    margin: 10px 10px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
    border: 1px solid #023919;
    background-color: white;
    width: 15vw;
    min-width: 250px;
    height: 250px;
    justify-content: center;
    text-align: center;
    padding: 10px;
    border-radius: 5px;
}
.fase{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
}

.fase h1{
    font-size: 25px;
    font-family: montserrat;
    font-weight: bold;
    color: #023919;
    margin-bottom: 10px ;
}
.fase p{
    font-size: 25px;
    font-family: montserrat;
    font-weight: bold;
    color: #023919;
    margin: 0;
}
.fase img{
    width: 100px;
}

.menu_header {
    display: flex;
    align-items: center;
    color: #ffffff;
    margin: 70px 0 30px 0;
    padding: 0;
}

.line {
    flex: 1;
    height: 2px;
    background-color: rgb(255, 255, 255);
}

.text {
    font-size: 2em;
    font-weight: bold;
    margin: 0 90px;
}


.button_menu{
    height: 270px;
    justify-content: center;
    align-items: center;
    display: flex;
    overflow-x: auto;
    margin: 20px 0;
}
.button_menu .box_button_menu{
    margin: 10px 10px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
    border: 1px solid #023919;
    background-color: white;
    width: 15vw;
    min-width: 250px;
    height: 250px;
    justify-content: center;
    text-align: center;
    padding: 10px;
    border-radius: 5px;
}
.button_menu .box_button_menu .deskripsi{
    color: #023919;
    width: 100%;
    height: 90px;
    font-size: 13px;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
}
.button_menu .box_button_menu .deskripsi p{
    margin: 0;
}
.button_menu .box_button_menu .tombol_pergi{
    height: 84px;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
}
.button_menu .box_button_menu h1{
    font-size: 25px;
    margin: 10px 0;
    font-family: montserrat;
    font-weight: bold;
    color: #023919;
}

.alamat_hr{
    height: 2px; 
    background-color: #0a9b44;
    opacity: 100%; 
    border: none;
    margin: 0;
}





.bar_terakhir{
    width: 100%;
    height: auto;
    font-family: oswald;
    display: grid;
    grid-template-areas: "kontak informasi";
    grid-template-columns: 40% 20%;
    padding: 50px 0 50px 120px;
    color: #000000;
    border-top: 2px solid #ffffff;
}

.informasi_hr{
    height: 2px;
    background-color: rgb(255, 255, 255);
}
.bar_terakhir h3{
    color: #ffffff;
}
.bar_terakhir .kontak{
    line-height: 40px;
}
.bar_terakhir .email{
    font-size: 25px;
    text-decoration: none;
    color: #0a9b44;
    transition: transform 0.2s ease;
}
.bar_terakhir .email:hover{
    font-size: 25px;
    text-decoration: none;
    color: #023919;
    transition: transform 0.2s ease;
}
.list_informasi{
    list-style: none;
    line-height: 30px;
}
.list_informasi a{
    text-decoration: none;
    color: #0a9b44;
    transition: 0.2s ease;
}
.list_informasi a:hover{
    text-decoration: none;
    color: #023919;
    transform: scale(1.05);
}

.sosialmedia{
    margin-top: 10px;
}

.facebook-button {
    display: inline-flex;
    align-items: center;
    background-color: #1877f2; /* Warna biru Facebook */
    color: #fff;
    border-radius: 5px;
    text-decoration: none;
    font-weight: bold;
}

.facebook-logo {
    width: 30px; /* Sesuaikan ukuran logo sesuai kebutuhan */
}
.instagram-button {
    display: inline-flex;
    align-items: center;
    background-color: #e4405f; /* Warna merah muda Instagram */
    color: #fff;
    border-radius: 5px;
    text-decoration: none;
    font-weight: bold;
}
.instagram-logo {
    width: 30px; /* Sesuaikan ukuran logo sesuai kebutuhan */
}
.linkedin-button {
    display: inline-flex;
    align-items: center;
    background-color: #ffffff; /* Warna merah muda Instagram */
    color: #fff;
    border-radius: 5px;
    text-decoration: none;
    font-weight: bold;
}
.linkedin-logo {
    width: 30px; /* Sesuaikan ukuran logo sesuai kebutuhan */
}
.pengguna {
    right: 0;
    display: flex;
    align-items: center;
    flex-direction: row;
    background-color: #023919;
    padding: 0 5px;
    margin-left: 30px;
    width: auto;
    border-radius: 5px;
}
.pengguna i {
    font-size: 35px;
    margin: 5px 0 5px 5px;
}
.pengguna a{
    font-size: 15px;
    margin: 10px;
    text-decoration: none;
    color: #ffffff;
}
.pengguna a:hover{
    font-size: 15px;
    margin: 10px;
    text-decoration: none;
    color: #0a9b44;
}

.copyright {
    width: 100%;
    height: auto;
    padding: 10px 0;
    text-align: center;
    font-size: 14px;
    font-weight: bold;
    color: #023919;
    background-color: rgb(255, 255, 255);
}
.copyright p{
    margin: 0;
}

/* MIDDLE */
@media only screen and (max-width:554px){
    .diatas_konten{
        width: 100%;
        height: 740px;
    }
    .gambar_konten{
        display: none;
    }
}
/* MIDDLE */
@media only screen and (max-width:962px){

    .gambar_konten_hasil{
        display: grid;
        width: 100%;
        height: 450px;
        margin-bottom: 20px ;
        text-align: center;
        justify-content: center;
        align-items: center;
    }
    .gambar_konten_hasil img{
        width: 400px;
        max-height: 400px; 
        overflow: hidden; 
        object-fit: cover;
    }

    .waktusalat{
        width: 100%;
        height: auto;
        display: flex;
        justify-content: start;
        align-items: start;
        overflow-x: auto;
        margin: 20px 0;
    }

    .fase-bulan{
        width: 100%;
        height: auto;
        display: flex;
        justify-content: start;
        align-items: start;
        overflow-x: auto;
        margin: 20px 0;
    }

    .button_menu{
        height: 270px;
        display: flex;
        overflow-x: auto;
        justify-content: start;
        align-items: start;
        margin: 20px 0;
    }
    .button_menu .box_button_menu{
        margin: 10px 10px;
        box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
        border: 1px solid #023919;
        background-color: white;
        width: 15vw;
        min-width: 250px;
        height: 250px;
        justify-content: center;
        text-align: center;
        padding: 10px;
        border-radius: 5px;
    }
    .diatas_konten{
        width: 100%;
        height: 540px;
    }
    .pengguna {
        margin-left: 0;
        display: flex;
        align-items: center;
        text-align: center;
        justify-content: center;
        flex-direction: row;
        background-color: #023919;
        padding: 0 5px;
        width: 100%;
        border-radius: 5px;
    }
    .pengguna i {
        font-size: 35px;
        margin: 5px;
    }
    .pengguna p{
        font-size: 15px;
        margin: 2px;
    }
    .tulisan_konten{
        width: 100%;
        padding-left: 0;
        padding-right: 0;
    }
    .konten{
        transition: 1s ease;
        padding: 0;
    }
    .tulisan_konten h1{
        font-size: 40px;
    }
    .tulisan_konten h4{
        font-size: 20px;
    }
    .tulisan_konten p{
        font-size: 14px;
        width: 100%;
    }
    .gambar_konten{
        padding-right: 0;
    }
    .text {
        font-size: 1.5em;
        font-weight: bold;
        margin: 0 30px;
    }
    .bar_terakhir{
        font-family: oswald;
        height: auto;
        display: grid;
        grid-template-areas: "kontak informasi";
        grid-template-columns: 50% 50%;
        padding: 30px 10px 0px 10px;
        color: #000000;
    }
    .bar_terakhir .kontak{
        line-height: 40px;
    }
    .bar_terakhir .email{
        font-size: 17px;
        text-decoration: none;
        transition: transform 0.2s ease;
    }
    .bar_terakhir .email:hover{
        text-decoration: none;
        transition: transform 0.2s ease;
    }
    .list_informasi{
        list-style: none;
        line-height: 30px;
    }
    .list_informasi a{
        text-decoration: none;
        transition: 0.2s ease;
    }
    .list_informasi a:hover{
        text-decoration: none;
        color: red;
        transform: scale(1.05);
    }
    .facebook-button {
        display: inline-flex;
        align-items: center;
        background-color: #1877f2; /* Warna biru Facebook */
        color: #fff;
        border-radius: 5px;
        text-decoration: none;
        font-weight: bold;
    }
    
    .facebook-logo {
        width: 30px; /* Sesuaikan ukuran logo sesuai kebutuhan */
    }
    .instagram-button {
        display: inline-flex;
        align-items: center;
        background-color: #e4405f; /* Warna merah muda Instagram */
        color: #fff;
        border-radius: 5px;
        text-decoration: none;
        font-weight: bold;
    }
    .instagram-logo {
        width: 30px; /* Sesuaikan ukuran logo sesuai kebutuhan */
    }
    .linkedin-button {
        display: inline-flex;
        align-items: center;
        background-color: #ffffff; /* Warna merah muda Instagram */
        color: #fff;
        border-radius: 5px;
        text-decoration: none;
        font-weight: bold;
    }
    .linkedin-logo {
        width: 30px; /* Sesuaikan ukuran logo sesuai kebutuhan */
    }
}