@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&family=Roboto:wght@400;500&display=swap');
*{
    margin: 0;
    padding: 0;
    font-family: 'Roboto';
}
/* .semua {

} */

/* bar atas logo dan user */

.bar_atas {
    display: flex;
    flex-direction: row;
    align-items: center;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    width: 100%;
}
.bar_atas img{
    width: 50px;
}
.logo{
    padding:5px;
}
.pengguna {
    position: absolute;
    right: 0;
    display: flex;
    align-items: center;
    flex-direction: row;
    padding: 5px;
}
.pengguna i {
    font-size: 35px;
    margin: 5px;
}
.pengguna p{
    font-size: 15px;
    margin: 2px;
}

/* tampilan tablet dan juga phone */
/* @media screen and (max-width: 768px) {
    #check{
        display: none;
    }
    label #btn,label #cancel{
        position: absolute;
        cursor: pointer;
        border-radius: 3px;
    }
    label #btn{
        left: 40px;
        top: 25px;
        font-size: 35px;
        color: rgb(255, 255, 255);
        background-color: rgb(0, 0, 0);
        padding: 6px 12px;
        border-radius: 3px;
        margin-top: -25px;
        margin-left: -40px;
        transition: all 0.5s;
    }
    label #btn:hover{
        color: black;
        background-color: white;
    }
    label #cancel {
        z-index: 1111;
        left: -195px;
        top: 17px;
        font-size: 30px;
        padding: 4px 9px;
        border-radius: 3px;
        margin-top: -16px;
        margin-left: 4px;
        transition: all 0.5s ease;
        color: black;
        background-color: white;
    }
    label #cancel:hover{
        color: rgb(255, 255, 255);
        background-color: rgb(0, 0, 0);
    }
    #check:checked ~ .bar_samping .halaman{
        left: 0;
    }
    #check:checked ~ label #btn{
        left: 250px;
        opacity: 0;
        pointer-events: none;
    }
    #check:checked ~ label #cancel{
        left: 195px;
    }
    .bar_samping{
        display: flex;
        flex-direction: column;
    }
    .samping_tertutup{
        position: absolute;
    }
    .bar_samping .halaman{
        position: absolute;
        left: -250px;
        display: flex;
        flex-direction: column;
        background-color: rgb(146, 146, 146);
        height: 100%;
        width: 250px;
        transition: all 0.5s ease;
        box-shadow: 0 10px 10px 0 rgba(0, 0, 0, 0.5);
    }
    .halaman .li_satu{
        display: flex;
        align-items: center;
        overflow: hidden;
        border-bottom: 1px solid black;
    }
    .halaman .li_satu i{
        font-size: 50px;
        padding: 10px;
    }
    .halaman .li_satu p {
        padding-left: 10px 0;
    }
    
    .halaman .li_dua{
        width: 100%;
        height: 100%;
    }
    .halaman .li_dua li{
        list-style: none;
        width: 100%;
    }
    .halaman .li_dua ul a{
        display: block;
        height: 100%;
        width: 100%;
        line-height: 65px;
        text-decoration: none;
        color: white;
        font-size: 20px;
        padding-left: 40px;
        box-sizing: border-box;
        transition: 0.4s;
        font-weight: 500;
        border-bottom: 1px solid black;
    }
    .halaman .li_dua ul a:hover{
        background-color: black;
        padding-left: 50px;
    }
    .li_dua ul a i {
        margin-right: 15px;
    }
    .bar_samping .konten {
        width: 100%;
        margin-left: 60px;
        height: 100vh;
        transition: all 0.5s ease;
     }
     #check:checked ~ .bar_samping .konten {
        margin-left: 252.5px;
     }

    .bar_samping .konten_satu {
        padding: 15px;
    }
    .bar_samping .konten_dua {
        margin: 15px;
    }
    .dashboard_judul p {
        padding: 30px 50px 30px 10px;
        color: white;
        text-align: center;
    }
    .dataTables_wrapper{
        position: absolute;
    }
    .dataTables_length{
        background-color: red;
    }
    .dataTables_filter {
        background-color: red;
    }
} */


/* tampilan PC dan laptop */
#check{
    display: none;
}
label #btn, label #cancel{
    display: none;
}
.bar_samping{
    display: flex;
    flex-direction: row;
}
.bar_samping .halaman{
    display: flex;
    flex-direction: column;
    background-color: rgb(146, 146, 146);
    height: 150vh;
    width: 250px;
    box-shadow: 0 10px 10px 0 rgba(0, 0, 0, 0.5);
}
.halaman .li_satu{
    border-bottom: 1px solid black;
}

.halaman .li_dua{
    width: 100%;
    height: 100%;
}

.halaman .li_dua div a{
    display: block;
    height: 100%;
    width: 100%;
    line-height: 65px;
    text-decoration: none;
    color: white;
    font-size: 12px;
    padding-left: 20px;
    box-sizing: border-box;
    transition: 0.4s;
    font-weight: 500;
    border-bottom: 1px solid black;
}
.halaman .li_dua div a:hover{
    background-color: black;
    padding-left: 50px;
}
.li_dua div a i {
    margin-right: 15px;
}
.bar_samping .konten {
    width: 100%;
    height: 100vh;
    transition: all 0.5s ease;
    }
    #check:checked ~ .bar_samping .konten {
    margin-left: 250px;
    }
    .bar_samping .konten_satu {
    padding: 15px;
}
.bar_samping .konten_dua {
    margin: 15px;
}
.dashboard_judul p {
    padding: 30px;
    color: white;
    text-align: center;
}

.tanggal {
    border: 2px solid black;
    margin: 5px;
}
.koordinat {
    border: 2px solid black;
    margin: 5px;
}
.input_data {
    display: flex;
    border: 5px solid rgb(121, 82, 82);
    justify-content: center;
}
.tombol_submit{
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
}
.data {
    border: 2px solid green;
}