@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&family=Roboto:wght@400;500&display=swap');
@font-face {
    font-family: montserrat;
    src: url(/static/font/Montserrat/Montserrat-VariableFont_wght.ttf);
}
@font-face {
    font-family: gotham;
    src: url(/static/font/gotham_rounded/Gotham_Rounded_Medium.otf);
}
*{
    margin: 0;
    padding: 0;
    font-family: 'gotham';
}
/* .semua {

} */

/* bar atas logo dan user */

.bar_atas{
    box-shadow: 0 0px 10px 0 rgba(0, 0, 0, 0.5);
}

.pengguna {
    right: 0;
    display: flex;
    align-items: center;
    flex-direction: row;
    background-color: #023919;
    padding: 0 5px;
    margin-left: 30px;
    width: auto;
    border-radius: 5px;
}
.pengguna i {
    font-size: 35px;
    margin: 5px 0 5px 5px;
}
.pengguna a{
    font-size: 15px;
    margin: 10px;
    text-decoration: none;
    color: #ffffff;
}
.pengguna a:hover{
    font-size: 15px;
    margin: 10px;
    text-decoration: none;
    color: #0a9b44;
}

.nav-item .nav-link {
    color: #023919;
}
.nav-item :hover{
    color: #0a9b44;
}

.container-fluid .navbar-brand img{
    width: 40px;
}
.cover {
    display: flex;
    height: auto;
    width: 100%;
    padding: 20px 0;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-image: url('../img/4.jpg');
    background-size: cover;
    background-position: center;
}
.alert {
    position: fixed;
    top: 5%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 10000;
    background-color: #ffffff;
    color: #023919;
    border-color: #023919;
}

.background {
    width: 420px;
    background-color: rgb(255, 255, 255);
    color: #023919;
    border-radius: 5px;
    padding: 30px 30px;
    border: 1px solid grey;
    backdrop-filter: blur(10px);
}
.background h1 {
    font-size: 36px;
    text-align: center;
    margin-top: 20px;
}
.background .gambar {
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100%;
    height: 150px;
}
.background .gambar img {
    width: 150px;
}
.background .input_box label,
.background .input_box_deskripsi label,
.background .input_box_gambar label {
    margin: 5px 0;
}
.background .input_box input,
.background .input_box_gambar input,
.background .input_box_deskripsi textarea,
.background .input_box_drop select{
    width: 100%;
    background: transparent;
    border: 2px solid black;
    border-radius: 10px;
    font-size: 14px;
    color: #023919;
    padding: 10px;
    box-sizing: border-box;
    margin-bottom: 10px;
}
.background .input_box input::placeholder,
.background .input_box_deskripsi textarea::placeholder {
    color: #023919;
    opacity: 0.5;
}

.background .tombol {
    width: 100%;
    height: 45px;
    background: #023919;
    color: #ffffff;
    outline: none;
    border: none;
    border-radius: 40px;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
    margin: 20px 0 0 0;
}
.background .tombol:hover {
    color: white;
    background-color: #0a9b44;
}

.copyright {
    width: 100%;
    height: auto;
    padding: 10px 0;
    text-align: center;
    font-size: 14px;
    font-weight: bold;
    color: #023919;
    background-color: rgb(255, 255, 255);
}
.copyright p{
    margin: 0;
}

@media only screen and (max-width:576px){
    .pengguna {
        margin-left: 0;
        display: flex;
        align-items: center;
        text-align: center;
        justify-content: center;
        flex-direction: row;
        background-color: #023919;
        padding: 0 5px;
        width: 100%;
        border-radius: 5px;
    }
    .pengguna i {
        font-size: 35px;
        margin: 5px;
    }
    .pengguna p{
        font-size: 15px;
        margin: 2px;
    }
    .konten{
        padding-top: 20px;
        transition: 1s ease;
    }
}