<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit Postingan</title>
    <link rel="icon" type="image/x-icon" href="{{ url_for('static',filename='img/qhad.ico')}}">
    <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap/css/bootstrap.min.css') }}">
    <link rel="stylesheet" type="text/css" href="{{url_for('static',filename='style/tambah_postingan.css')}}">
</head>
<body>
    {% for message in get_flashed_messages() %}
    <div class="alert alert-warning alert-dismissible fade show" role="alert" id="alert">
        {{ message }}
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
    {% endfor %}
    <header>
        <nav class="navbar navbar-expand-lg sticky-top ps-sm-5 bar_atas" style="background-color: #ffffff;">
            <div class="container-fluid">
                <a class="navbar-brand fw-bold" href="/home">
                    <img src="{{ url_for('static',filename='img/QHAD_Putihan.png')}}" alt="Logo">
                    Lab Falak
                </a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav ms-auto text-center">
                        <li class="nav-item">
                            <a class="nav-link" href="/home">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/hasil_pengamatan">Hasil Pengamatan</a>
                        </li>
                        <li>
                            <div class="pengguna">
                                <img src="{{ url_for('static',filename='boxicon/user_op.png')}}" alt="user_op">
                                    <a href="#" id="logout_user">{{ username }}</a>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>

    <main>
        <section>
            <div class="cover">
              <div class="background">
                  <form method="POST" enctype="multipart/form-data">
                      <div class="gambar">
                          <img src="{{ url_for('static',filename='img/sikiblat.png')}}" alt="sikiblat">
                      </div>
                      <h1>Edit Postingan</h1>
                      {{ form.hidden_tag() }}
                      <div class="input_box">
                          {{ form.judul.label ()}}<br>
                          {{ form.judul(size=32) }}
                      </div>
                      <div class="input_box_deskripsi">
                          {{ form.deskripsi.label }}<br>
                          {{ form.deskripsi() }}
                      </div>
                      <div class="input_box">
                          {{ form.lokasi.label }}<br>
                          {{ form.lokasi(size=32) }}
                      </div>
                      <div class="input_box_drop">
                        {{ form.kategori.label }}<br>
                        {{ form.kategori(placeholder="Kategori Gambar") }}
                    </div>
                      <div class="input_box_gambar">
                          {{ form.gambar.label }}<br>
                          <p>(Apabila gambar tidak dirubah, maka biarkan kosong)</p>
                          {{ form.gambar() }}
                      </div>
                      <div>
                          {{ form.submit(class="tombol") }}
                      </div>
                  </form>
              </div>
          </div>
        </section>
    </main>
    <footer>
        <div class="copyright">
            <p>© 2024 Laboratorium Ilmu Falak. Semua Hak Dilindungi.</p>
          </div>
    </footer>
</body>
<script src="{{ url_for('static',filename='bootstrap/js/bootstrap.min.js')}}"></script>
<script src="{{ url_for('static',filename='bootstrap/popper/popper.min.js')}}"></script>
<script src="{{ url_for('static',filename='javascript/postingan.js')}}"></script>
</html>