<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <title>Hasil Perhitungan Posisi Bulan</title>
    <link rel="icon" type="image/x-icon" href="{{ url_for('static',filename='img/qhad.ico')}}">
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel='stylesheet' type='text/css' media='screen' href='../static/style/style_hasil_posisi_bulan.css'>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js" integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.min.js" integrity="sha384-Rx+T1VzGupg4BHQYs2gCW9It+akI2MM/mndMCy36UVfodzcJcF0GGLxZIzObiEfa" crossorigin="anonymous"></script>
</head>
<body>
    <h2 style="text-align: center;">Hasil Perhitungan Posisi Bulan Jean Meeus</h2>
    <div class="data">
        <table class="table">
            <tr>
                <th>L'</th>
                <td>=</td>
                <td>{{L_aksen}}</td>
                <th>D</th>
                <td>=</td>
                <td>{{D}}</td>
                <th>M</th>
                <td>=</td>
                <td>{{M}}</td>
            </tr>
            <tr>
                <th>M'</th>
                <td>=</td>
                <td>{{M_aksen}}</td>
                <th>F</th>
                <td>=</td>
                <td>{{F}}</td>
                <th>A1</th>
                <td>=</td>
                <td>{{A1}}</td>
            </tr>
            <tr>
                <th>A2</th>
                <td>=</td>
                <td>{{A2}}</td>
                <th>A3</th>
                <td>=</td>
                <td>{{A3}}</td>
                <th>E</th>
                <td>=</td>
                <td>{{E}}</td>
            </tr>
            <tr>
                <th>Bujur Bulan</th>
                <td>=</td>
                <td>{{longitude_bulan}}</td>
                <th>Lintang Bulan</th>
                <td>=</td>
                <td>{{latitude_bulan}}</td>
                <th>Distance Bulan</th>
                <td>=</td>
                <td>{{distance_bulan}}</td>
            </tr>
            <tr>
                <th>Bujur Bulan Tampak</th>
                <td>=</td>
                <td>{{apparent_longitude_bulan}}</td>
                <th>Jarak Bumi-Bulan</th>
                <td>=</td>
                <td>{{distance_to_earth}}</td>
                <th>Parallax</th>
                <td>=</td>
                <td>{{parallax}}</td>
            </tr>
            <tr>
                <th>Asensiorekta</th>
                <td>=</td>
                <td>{{right_ascension_bulan}}</td>
                <th>Deklinasi</th>
                <td>=</td>
                <td>{{deklinasi_bulan}}</td>
                <th>Sudut Jam</th>
                <td>=</td>
                <td>{{hour_angle_bulan}}</td>
            </tr>
            <tr>
                <th>Azimuth</th>
                <td>=</td>
                <td>{{jam_azimuth_bulan}} : {{menit_azimuth_bulan}} : {{detik_azimuth_bulan}}</td>
                <th>Altitude</th>
                <td>=</td>
                <td>{{jam_altitude_bulan}} : {{menit_altitude_bulan}} : {{detik_altitude_bulan}}</td>
                <th></th>
                <td></td>
                <td></td>
            </tr>
          </table>
    </div>
    <div  class="download_text_bulan">
        <h7>Menu Perulangan</h7>
    </div>
    <form method="post" action="/posisi_bulan_kedua">
        <div class="input-group" id="input_perulangan">
            <span class="input-group-text" id="inputGroup-default">jumlah Jam =</span>
            <input type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-sm" name="pengulangan_posisi_bulan" value="">
            <span class="input-group-text" id="inputGroup-default">Jam</span>
        </div>
        <div class="tombol_submit">
            <div class="btn-group" role="group" aria-label="Basic example">
                <button type="submit" class="btn btn-danger" name="posisi_bulan_kedua"> START </button>
            </div>
        </div>
    </form>
    <div class="tombol_submit">
        <div class="btn-group" role="group" aria-label="Basic example">
            <a href="/cek_data" class="btn btn-success">Kembali ke Halaman Utama</a>
        </div>
    </div>
</body>
</html>