<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <title>Informasi Hilal</title>
    <link rel="icon" type="image/x-icon" href="{{ url_for('static',filename='img/qhad.ico')}}">
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel='stylesheet' type='text/css' media='screen' href='../static/style/style_hasil_posisi_hilal.css'>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js" integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.min.js" integrity="sha384-Rx+T1VzGupg4BHQYs2gCW9It+akI2MM/mndMCy36UVfodzcJcF0GGLxZIzObiEfa" crossorigin="anonymous"></script>
</head>
<body>
    <h2 style="text-align: center;">Informasi Hilal</h2>
    <div class="data">
        <table class="table">
            <tr>
                <th>Tanggal bulan baru</th>
                <td>=</td>
                <td>{{informasi_hilal_seluruhnya[0][0]}} : {{informasi_hilal_seluruhnya[0][1]}} : {{informasi_hilal_seluruhnya[0][2]}}</td>
                <th>Waktu matahari tenggelam</th>
                <td>=</td>
                <td>{{informasi_hilal_seluruhnya[1][0]}} : {{informasi_hilal_seluruhnya[1][1]}} : {{informasi_hilal_seluruhnya[1][2]}}</td>
            </tr>
          </table>
    </div>
    <hr>
    <h2 style="text-align: center;">Posisi Matahari</h2>
    <div class="data">
        <table class="table">
            <tr>
                <th>Azimuth</th>
                <td>=</td>
                <td>{{informasi_hilal_seluruhnya[3][0]}} : {{informasi_hilal_seluruhnya[3][1]}} : {{informasi_hilal_seluruhnya[3][2]}}</td>
                <th>altitude</th>
                <td>=</td>
                <td>{{informasi_hilal_seluruhnya[2][0]}} : {{informasi_hilal_seluruhnya[2][1]}} : {{informasi_hilal_seluruhnya[2][2]}}</td>
            </tr>
            <tr>
                <th>AsensioRekta</th>
                <td>=</td>
                <td>{{informasi_hilal_seluruhnya[4][0]}} : {{informasi_hilal_seluruhnya[4][1]}} : {{informasi_hilal_seluruhnya[4][2]}}</td>
                <th>Deklinasi</th>
                <td>=</td>
                <td>{{informasi_hilal_seluruhnya[5][0]}} : {{informasi_hilal_seluruhnya[5][1]}} : {{informasi_hilal_seluruhnya[5][2]}}</td>
            </tr>
            <tr>
                <th>Bujur Ekliptika</th>
                <td>=</td>
                <td>{{informasi_hilal_seluruhnya[6][0]}} : {{informasi_hilal_seluruhnya[6][1]}} : {{informasi_hilal_seluruhnya[6][2]}}</td>
                <th>Lintang Ekliptika</th>
                <td>=</td>
                <td>{{informasi_hilal_seluruhnya[7]}}</td>
            </tr>
          </table>
    </div>
    <hr>
    <h2 style="text-align: center;">Posisi hilal</h2>
    <div class="data">
        <table class="table">
            <tr>
                <th>Azimuth</th>
                <td>=</td>
                <td>{{informasi_hilal_seluruhnya[9][0]}} : {{informasi_hilal_seluruhnya[9][1]}} : {{informasi_hilal_seluruhnya[9][2]}}</td>
                <th>altitude</th>
                <td>=</td>
                <td>{{informasi_hilal_seluruhnya[8][0]}} : {{informasi_hilal_seluruhnya[8][1]}} : {{informasi_hilal_seluruhnya[8][2]}}</td>
            </tr>
            <tr>
                <th>AsensioRekta</th>
                <td>=</td>
                <td>{{informasi_hilal_seluruhnya[10][0]}} : {{informasi_hilal_seluruhnya[10][1]}} : {{informasi_hilal_seluruhnya[10][2]}}</td>
                <th>Deklinasi</th>
                <td>=</td>
                <td>{{informasi_hilal_seluruhnya[11][0]}} : {{informasi_hilal_seluruhnya[11][1]}} : {{informasi_hilal_seluruhnya[11][2]}}</td>
            </tr>
            <tr>
                <th>Bujur Ekliptika</th>
                <td>=</td>
                <td>{{informasi_hilal_seluruhnya[12][0]}} : {{informasi_hilal_seluruhnya[12][1]}} : {{informasi_hilal_seluruhnya[12][2]}}</td>
                <th>Lintang Ekliptika</th>
                <td>=</td>
                <td>{{informasi_hilal_seluruhnya[13]}}</td>
            </tr>
            <tr>
                <th></th>
                <td></td>
                <td></td>
                <th>Elongasi</th>
                <td>=</td>
                <td>{{informasi_hilal_seluruhnya[14][0]}} : {{informasi_hilal_seluruhnya[14][1]}} : {{informasi_hilal_seluruhnya[14][2]}}</td>
                <th></th>
                <td></td>
                <td></td>
            </tr>
          </table>
    </div>
    <a href="/download_text_hilal" class="btn btn-primary">Unduh Teks</a>
    <div class="tombol_submit">
        <div class="btn-group" role="group" aria-label="Basic example">
            <a href="/cek_data" class="btn btn-success">Kembali ke Halaman Utama</a>
        </div>
    </div>
</body>
</html>