<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login Page</title>
    <link rel="icon" type="image/x-icon" href="{{ url_for('static',filename='img/qhad.ico')}}">
    <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap/css/bootstrap.min.css') }}">
    <link rel="stylesheet" href="../static/style/login.css">
</head>
<body>
    {% for message in get_flashed_messages() %}
        <div class="alert alert-warning alert-dismissible fade show" role="alert" id="alert">
            {{ message }}
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
    {% endfor %}
    {% for error in form.username.errors + form.password.errors %}
    <div class="alert alert-warning alert-dismissible fade show" role="alert">
        {{ error }}
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
    {% endfor %}
    <main>
        <section>
            <div class="cover">
                <div class="background">
                    <form id="loginForm" method="POST" action="/login">
                        <div class="gambar">
                            <img src="{{ url_for('static', filename='img/Sikiblat.png') }}" alt="Si Qiblat">
                        </div>
                        <h1>LOGIN</h1>
                        {{ form.hidden_tag() }}
                        <div class="input_box">
                            {{ form.username(size=32, placeholder="Username") }}
                            <img src="{{ url_for('static', filename='boxicon/user.png') }}" alt="user">
                        </div>
                        <div class="input_box">
                            {{ form.password(size=32, placeholder="Password") }}
                            <img src="{{ url_for('static', filename='boxicon/pw.png') }}" alt="password">
                        </div>
                        <div class="lupa">
                            <div class="remember">
                                {{ form.remember(id="remember") }}
                                <label for="remember"> Remember me </label>
                            </div>
                            <a href="/lupa_password">Forgot password ?</a>
                        </div>
        
                        <div>
                            {{ form.submit(class="tombol") }}
                        </div>
        
                        <div class="register">
                            <p>Belum punya akun ?<a href="/daftar_login"> Daftar </a></p>
                        </div>
                        <div class="register">
                            <p>Kembali ke Dashboard ?<a href="/home"> Dashboard </a></p>
                        </div>
                    </form>
                </div>
            </div>
        </section>
    </main>
    <footer>
        <div class="copyright">
            <p>© 2024 Laboratorium Ilmu Falak. Semua Hak Dilindungi.</p>
        </div>
    </footer>
</body>
<script src="{{ url_for('static',filename='bootstrap/js/bootstrap.min.js')}}"></script>
<script src="{{ url_for('static',filename='bootstrap/popper/popper.min.js')}}"></script>
<script src="{{ url_for('static',filename='javascript/daftar_login.js')}}"></script>
</html>