<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lupa Password</title>
    <link rel="icon" type="image/x-icon" href="{{ url_for('static',filename='img/qhad.ico')}}">
    <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap/css/bootstrap.min.css') }}">
    <link rel="stylesheet" href="../static/style/lupa_password.css">
</head>
<body>
    {% for message in get_flashed_messages() %}
    <div class="alert alert-warning alert-dismissible fade show" role="alert" id="alert">
        {{ message }}
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
    {% endfor %}
    {% for error in form.username.errors + form.email.errors %}
    <div class="alert alert-warning alert-dismissible fade show" role="alert">
        {{ error }}
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
    {% endfor %}
    <main>
        <section>
            <div class="cover">
                <div class="background">
                    <form method="POST">
                        <div class="gambar">
                            <img src="{{ url_for('static', filename='img/Sikiblat.png') }}" alt="Si Qiblat">
                        </div>
                        <h1>Lupa Password</h1>
                        {{ form.hidden_tag() }}
                        <div class="input_box">
                            {{ form.username(size=32, placeholder="Username") }}
                            <img src="{{ url_for('static', filename='boxicon/user.png') }}" alt="user">
                        </div>
                        <div class="input_box">
                            {{ form.email(size=32, placeholder="Masukkan Email") }}
                            <img src="{{ url_for('static', filename='boxicon/email.png') }}" alt="email">
                        </div>
                        <div>
                            {{ form.submit(class="tombol") }}
                        </div>
                        <div class="register">
                            <p>Sudah ingat passwordmu ?<a href="/login"> Login </a></p>
                        </div>
                        <div class="register">
                            <p>Kembali ke Dashboard ?<a href="/home"> Dashboard </a></p>
                        </div>
                    </form>
                </div>
            </div>
        </section>
    </main>
    <footer>
        <div class="copyright">
            <p>© 2024 Laboratorium Ilmu Falak. Semua Hak Dilindungi.</p>
        </div>
    </footer>
</body>
<script src="{{ url_for('static',filename='bootstrap/js/bootstrap.min.js')}}"></script>
<script src="{{ url_for('static',filename='bootstrap/popper/popper.min.js')}}"></script>
<script src="{{ url_for('static',filename='javascript/daftar_login.js')}}"></script>
</html>