<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Perhitungan Hilal</title>
    <link rel="icon" type="image/x-icon" href="{{ url_for('static',filename='img/qhad.ico')}}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js" integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.min.js" integrity="sha384-Rx+T1VzGupg4BHQYs2gCW9It+akI2MM/mndMCy36UVfodzcJcF0GGLxZIzObiEfa" crossorigin="anonymous"></script>
    <link rel="stylesheet" type="text/css" href="{{url_for('static',filename='style/tampilan.css')}}">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
</head>
<body>
    <nav class="navbar navbar-expand-lg sticky-top ps-sm-5 bar_atas" style="background-color: #ffffff;">
        <div class="container-fluid">
            <a class="navbar-brand fw-bold" href="#"><img src="/static/img/QHAD_Putihan.png" alt="Logo" width="40">Lab Falak</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav ms-auto text-center">
                    <li class="nav-item">
                        <a class="nav-link" href="/home">Home</a>
                    </li>
                    <li>
                        <div class="pengguna">
                            <i class='bx bxs-user-circle' style='color:#ffffff' ></i>
                            {% if username %}
                                <a href="#" id="logout_user">{{ username }}</a>
                            {% elif username == "" %}
                                <a href="/login">Login</a>
                            {% endif %}
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <section class="container-fluid text-center text-sm-start" id="home">
        <div class="align-items-center konten pt-3">
            <h2 style="text-align: center;">Perhitungan Posisi Hilal</h2>
        </div>
    </section>
    <form method="post" action="/kalkulator_hilal" onsubmit="return validateForm()">
        <section class="pt-2 pb-2">
                <div class="container-fluid">
                    <div class="row text-center g-4">
                        <div class="col-md">
                            <div class="card">
                                <div style="text-align: center;">
                                    <h5 style="padding-top: 10px;">Waktu</h5>
                                    <hr class="border border-danger border-2 opacity-100">
                                    <div class="input-group">
                                        <span class="input-group-text" id="inputGroup-default">Jam =</span>
                                        <input type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-sm" placeholder="Jam" name="jam_waktu" value="{{jam_now}}" id="jam_input">
                                    </div>
                                    <div class="input-group">
                                        <span class="input-group-text" id="inputGroup-default">Menit =</span>
                                        <input type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-sm" placeholder="Menit" name="menit_waktu" value="{{menit_now}}" id="menit_input">
                                    </div>
                                    <div class="input-group">
                                        <span class="input-group-text" id="inputGroup-default">Detik =</span>
                                        <input type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-sm" placeholder="Detik" name="detik_waktu" value="{{detik_now}}" id="detik_input">
                                    </div>
                                    <div class="input-group">
                                        <span class="input-group-text" id="inputGroup-default">Zona Waktu=</span>
                                        <input type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-sm" placeholder="Zona" name="zona_waktu" value="{{zona_waktu_now}}" id="zona_input">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md">
                            <div class="card">
                                <div style="text-align: center;">
                                    <h5 style="padding-top: 10px;">Tanggal</h5>
                                    <hr class="border border-danger border-2 opacity-100">
                                    <div class="input-group">
                                        <span class="input-group-text" id="inputGroup-default">Tahun =</span>
                                        <input type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-sm" placeholder="Tahun" name="tahun_waktu" value="{{tahun_now}}" id="tahun_input">
                                    </div>
                                    <div class="input-group">
                                        <span class="input-group-text" id="inputGroup-default">Bulan =</span>
                                        <input type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-sm" placeholder="Bulan" name="bulan_waktu" value="{{bulan_now}}" id="bulan_input">
                                    </div>
                                    <div class="input-group">
                                        <span class="input-group-text" id="inputGroup-default">Tanggal =</span>
                                        <input type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-sm" placeholder="Tanggal" name="tanggal_waktu" value="{{tanggal_now}}" id="tanggal_input">
                                    </div>
                                    <div class="input-group">
                                        <span class="input-group-text" id="inputGroup-default">Tinggi Tempat =</span>
                                        <input type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-sm" placeholder="Tinggi Tempat" name="tinggi_tempat" value="{{tinggi_tempat}}" id="tinggi_input">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md">
                            <div class="card">
                                <div style="text-align: center;">
                                    <h5 style="padding-top: 10px;">Lintang</h5>
                                    <hr class="border border-danger border-2 opacity-100">
                                    <div class="input-group">
                                        <span class="input-group-text" id="inputGroup-default">Derajat =</span>
                                        <input type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-sm" placeholder="Derajat" name="lintang_jam" value="{{lintang_jam}}" id="lintang_jam_input">
                                    </div>
                                    <div class="input-group">
                                        <span class="input-group-text" id="inputGroup-default">Menit =</span>
                                        <input type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-sm" placeholder="Menit" name="lintang_menit" value="{{lintang_menit}}" id="lintang_menit_input">
                                    </div>
                                    <div class="input-group">
                                        <span class="input-group-text" id="inputGroup-default">Detik =</span>
                                        <input type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-sm" placeholder="Detik" name="lintang_detik" value="{{lintang_detik}}" id="lintang_detik_input">
                                    </div>
                                    <div class="input-group">
                                        <span class="input-group-text" id="inputGroup-default">Arah =</span>
                                        <select name="lintang_arah">
                                            <option value="S">Selatan</option>
                                            <option value="U">Utara</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md">
                            <div class="card">
                                <div style="text-align: center;">
                                    <h5 style="padding-top: 10px;">Bujur</h5>
                                    <hr class="border border-danger border-2 opacity-100">
                                    <div class="input-group">
                                        <span class="input-group-text" id="inputGroup-default">Derajat =</span>
                                        <input type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-sm" placeholder="Derajat" name="bujur_jam" value="{{bujur_jam}}" id="bujur_jam_input">
                                    </div>
                                    <div class="input-group">
                                        <span class="input-group-text" id="inputGroup-default">Menit =</span>
                                        <input type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-sm" placeholder="Menit" name="bujur_menit" value="{{bujur_menit}}" id="bujur_menit_input">
                                    </div>
                                    <div class="input-group">
                                        <span class="input-group-text" id="inputGroup-default">Detik =</span>
                                        <input type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-sm" placeholder="Detik" name="bujur_detik" value="{{bujur_detik}}" id="bujur_detik_input">
                                    </div>
                                    <div class="input-group">
                                        <span class="input-group-text" id="inputGroup-default">Arah =</span>
                                        <select name="bujur_arah">
                                            <option value="E">Timur</option>
                                            <option value="W">Barat</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="tombol_submit">
                    <div class="btn-group" role="group" aria-label="Basic example">
                        <button type="submit" class="btn btn-danger" name="main_menu"> Lihat Seluruh Data</button>
                    </div>
                </div>
        </section>
        <section class="container-fluid">
            <div class="data">
                <table class="table">
                    <tr>
                        <th>Lintang Tempat</th>
                        <td>=</td>
                        <td>{{lintang_tempat}}</td>
                        <th>Bujur Tempat</th>
                        <td>=</td>
                        <td>{{bujur_tempat}}</td>
                        <th>Waktu</th>
                        <td>=</td>
                        <td>{{jam_now}} : {{menit_now}} : {{detik_now}}</td>
                    </tr>
                    <tr>
                        <th>Julian Day</th>
                        <td>=</td>
                        <td>{{JD_total}}</td>
                        <th>Time Zone</th>
                        <td>=</td>
                        <td>{{zona_waktu_now}}</td>
                        <th>Tinggi Tempat</th>
                        <td>=</td>
                        <td>{{tinggi_tempat}}</td>
                    </tr>
                    <tr>
                        <th>Delta Nutasi</th>
                        <td>=</td>
                        <td>{{delta_nutasi}}</td>
                        <th>Delta Obliquity</th>
                        <td>=</td>
                        <td>{{delta_obliquity}}</td>
                        <th>Obliquity0</th>
                        <td>=</td>
                        <td>{{obliquity0}}</td>
                    </tr>
                    <tr>
                        <th>Obliquity</th>
                        <td>=</td>
                        <td>{{obliquity}}</td>
                        <th>O0</th>
                        <td>=</td>
                        <td>{{O0}}</td>
                        <th>o0</th>
                        <td>=</td>
                        <td>{{o0}}</td>
                    </tr>
                    <tr>
                        <th>Greenwich Siderial Time</th>
                        <td>=</td>
                        <td>{{GST}}</td>
                        <th>Greenwich Siderial Time Nampak</th>
                        <td>=</td>
                        <td>{{GST_nampak}}</td>
                        <th>Local Siderial Time Nampak</th>
                        <td>=</td>
                        <td>{{LST_nampak}}</td>
                    </tr>
                </table>
            </div>
            <div class="tombol_submit">
                <div role="group" aria-label="Basic example">
                    <button type="submit" class="btn btn-success" formaction="/hasil_perhitungan_matahari_high">Posisi Matahari (High Accuracy)</button>
                    <button type="submit" class="btn btn-danger" formaction="/hasil_perhitungan_matahari_low">Posisi Matahari (Low Accuracy)</button>
                    <button type="submit" class="btn btn-success" formaction="/posisi_bulan">Posisi Bulan</button>
                    <button type="submit" class="btn btn-danger" formaction="/fase_bulan">Fase Bulan</button>
                </div>
            </div>
            <div class="tombol_submit">
                <div class="btn-group" role="group" aria-label="Basic example">
                    <button type="submit" class="btn btn-primary" formaction="/informasi_hilal">Hitung Posisi Hilal</button>
                </div>
            </div>
        </section>
    </form>


        <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js" integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>

        <script>
            document.getElementById("logout_user").onclick = function(event) {
                event.preventDefault();
                var validasi = confirm("Apakah kamu ingin logout ?")
                if (validasi) {
                    window.location.href = '/logout';
                    alert("Logout berhasil")
                }else{
                    alert("Selamat datang kembali")
                }
            }
            var alertCount = 0;
            
            function validateForm() {
                if(alertCount === 3) {
                    alert("HEI TOLONG DIISI DENGAN BENAR, SAYA CAPEK NIH MEMPERINGATKAN")
                    alertCount =0;
                }
                // Mendapatkan nilai dari setiap input
                var jamInput = document.getElementById("jam_input").value;
                var menitInput = document.getElementById("menit_input").value;
                var detikInput = document.getElementById("detik_input").value;
                var zonaInput = document.getElementById("zona_input").value;
                var tahunInput = document.getElementById("tahun_input").value;
                var bulanInput = document.getElementById("bulan_input").value;
                var tanggalInput = document.getElementById("tanggal_input").value;
                var tinggiInput = document.getElementById("tinggi_input").value;
                var lintangJamInput = document.getElementById("lintang_jam_input").value;
                var lintangMenitInput = document.getElementById("lintang_menit_input").value;
                var lintangDetikInput = document.getElementById("lintang_detik_input").value;
                var bujurJamInput = document.getElementById("bujur_jam_input").value;
                var bujurMenitInput = document.getElementById("bujur_menit_input").value;
                var bujurDetikInput = document.getElementById("bujur_detik_input").value;
                
                var maxDaysInMonth = new Date(tahunInput, bulanInput, 0).getDate();

                // Memeriksa apakah input kosong
                if (jamInput === "") {
                    alert("Kolom Jam Masih Kosong");
                    alertCount ++;
                    return false;
                }
                if (menitInput === "") {
                    alert("Kolom Menit Masih Kosong");
                    alertCount ++;
                    return false;
                }
                if (detikInput === "") {
                    alert("Kolom Detik Masih Kosong");
                    alertCount ++;
                    return false;
                }
                if (zonaInput === "") {
                    alert("Kolom Zona Waktu Masih Kosong");
                    alertCount ++;
                    return false;
                }
                if (tahunInput === "") {
                    alert("Kolom Tahun Masih Kosong");
                    alertCount ++;
                    return false;
                }
                if (bulanInput === "") {
                    alert("Kolom Bulan Masih Kosong");
                    alertCount ++;
                    return false;
                }
                if (tanggalInput === "") {
                    alert("Kolom Tanggal Masih Kosong");
                    alertCount ++;
                    return false;
                }
                if (tinggiInput === "") {
                    alert("Kolom Tinggi Tempat Masih Kosong");
                    alertCount ++;
                    return false;
                }
                if (lintangJamInput === "" || lintangMenitInput === "" || lintangDetikInput === "") {
                    alert("Kolom Lintang Masih Kosong");
                    alertCount ++;
                    return false;
                }
                if (bujurJamInput === "" || bujurMenitInput === "" || bujurDetikInput === "") {
                    alert("Kolom Bujur Masih Kosong");
                    alertCount ++;
                    return false;
                }


                
                if (parseInt(jamInput) > 23 || parseInt(jamInput) < 0) {
                    alert("Jam hanya diantara 0-23");
                    alertCount ++;
                    return false;
                }
                if (parseInt(menitInput) > 60 || parseInt(menitInput) < 0) {
                    alert("Menit hanya diantara 0-60");
                    alertCount ++;
                    return false;
                }
                if (parseInt(detikInput) > 60 || parseInt(detikInput) < 0) {
                    alert("detik hanya diantara 0-60");
                    alertCount ++;
                    return false;
                }
                if (parseInt(zonaInput) > 12 || parseInt(zonaInput) < -12) {
                    alert("Zona Waktu hanya diantara 12 sampai -12");
                    alertCount ++;
                    return false;
                }
                if (parseInt(tahunInput) > 2100) {
                    alert("Kami selaku pengembang website membatasi sampai tahun 2100, untuk diatas tahun tersebut, bisa hubungi kami melalui kontak dihalaman depan");
                    alertCount ++;
                    return false;
                }
                if (parseInt(bulanInput) > 12 || parseInt(bulanInput) < 1) {
                    alert("melebihi jumlah bulan pada tahun masehi");
                    alertCount ++;
                    return false;
                }
                if (parseInt(tanggalInput) > maxDaysInMonth || parseInt(tanggalInput) < 1) {
                    alert("Tanggal tidak valid untuk bulan dan tahun yang dimasukkan");
                    alertCount ++;
                    return false;
                }
                if (parseInt(lintangJamInput) > 90 || parseInt(lintangJamInput) < 0) {
                    alert("Derajat lintang hanya diantara 0-90");
                    alertCount ++;
                    return false;
                }
                if (parseInt(lintangMenitInput) > 60 || parseInt(lintangMenitInput) < 0) {
                    alert("Menit lintang hanya diantara 0-60");
                    alertCount ++;
                    return false;
                }
                if (parseInt(lintangDetikInput) > 60 || parseInt(lintangDetikInput) < 0) {
                    alert("Detik lintang hanya diantara 0-60");
                    alertCount ++;
                    return false;
                }
                if (parseInt(bujurJamInput) > 180 || parseInt(bujurJamInput) < 0) {
                    alert("Derajat bujur hanya diantara 0-90");
                    alertCount ++;
                    return false;
                }
                if (parseInt(bujurMenitInput) > 60 || parseInt(bujurMenitInput) < 0) {
                    alert("Menit bujur hanya diantara 0-60");
                    alertCount ++;
                    return false;
                }
                if (parseInt(bujurDetikInput) > 60 || parseInt(bujurDetikInput) < 0) {
                    alert("Detik bujur hanya diantara 0-60");
                    alertCount ++;
                    return false;
                }

                return true;
            }
        </script>
</body>
</html>