<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset='utf-8'>
    <title>Waktu Salat</title>
    <link rel="icon" type="image/x-icon" href="{{ url_for('static',filename='img/qhad.ico')}}">
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel="stylesheet" href="{{ url_for('static', filename='style/salat.css') }}">
</head>
<body>
    <main>
        <header>
            <h1>Perhitungan Waktu Sholat</h1>
            <hr>
        </header>
        <section>
            <h1 style="color: #023919;">Hitung Otomatis</h1>
            <button onclick="getLocation()" class="button_daftar">Tekan tombol</button>
            <div class="salat">
                <a href="/home" class="button_daftar">Kembali Ke Dashboard</a>
            </div>
        </section>
    </main>
    <footer>
        <div class="copyright">
            <p>© 2024 Laboratorium Ilmu Falak. Semua Hak Dilindungi.</p>
        </div>
    </footer>
</body>
<script src="{{ url_for('static',filename='javascript/waktu_salat.js')}}"></script>
</html>