{# templates/livecam.html #}
<!doctype html>
<html class="no-js" lang="zxx"> 
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="description" content="bizes is a multipurpose buisness template suitable for agency, business, consultant, corporate, creative, finance, portfolio, startup, trading  or any other business website">
    <meta name="keywords" content="bizes, Bootstrap, Construction, finance, Real Estate, Corporate, Template ">
    <meta name="author" content="Masud Rana">		
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Live cam</title>

    <!-- All CSS Here -->
    <link rel="stylesheet" href="{{ url_for('static', filename='assets/css/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='assets/css/theme-plugins.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='assets/css/style.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='assets/css/responsive.css') }}">
  </head>
  <body>
    <!--[if lt IE 8]>
      <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please
        <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->

    <!-- Start Wrapper -->
    <div class="wrapper cam">
      <!-- Start Header Area -->
      <header class="header-area primary-header">
        <div class="navigation-area">
          <div class="container">
            <div class="row">
              <div class="col-9 col-sm-2 col-md-2">
                <div class="logo">
                  <a href="{{ url_for('main_teleskop.teleskop') }}">
                    <img src="{{ url_for('static', filename='assets/img/livecam/logo.png') }}" alt="Logo">
                  </a>
                </div>
              </div>
              <div class="col-3 col-sm-10 col-md-10">
                <!-- Start Bizes Nav -->
                <div class="main-menu-wrap">
                  <nav class="bizes-nav">
                    <ul class="menu">
                      <li class="has-dropdown"><a href="javascript:void(0)">Layouts</a>
                        <ul>
                          <li><a href="{{ url_for('main_akrilikdome.akrilikdome') }}">headphone</a></li>
                          <li><a href="{{ url_for('main_siqiblat.siqiblat') }}">watch</a></li>
                        </ul>
                      </li>
                      <li><a href="#features">Features</a></li>
                      <li><a href="#spec">Specification</a></li>
                      <li><a href="#reviews">Reviews</a></li>
                      <li><a href="#product">Product</a></li>
                      <li><a href="#support">Support</a></li>
                      <li><a href="#contact">Contact</a></li>
                    </ul>
                  </nav>                                                 
                </div>
                <!-- End Bizes Nav -->
                <div class="mobile-menu-area"></div>
              </div>
            </div>
          </div>
        </div>
      </header>
      <!-- End Header Area -->

      <!-- Start hero area -->
      <div class="cam-hero-area">
        <div class="container">
          <div class="row">
            <div class="col-md-6">
              <div class="cam-hero-img">
                <img src="{{ url_for('static', filename='assets/img/livecam/cam1.png') }}" alt="">
              </div>
            </div>
            <div class="col-md-6">
              <div class="cam-hero-content">
                <h1>The World's Favourite Camera.</h1>
                <p>Student at Australian National University and the lead author of a paper published in Nature on Wednesday that may hold Jones and his colleagues developed </p>
                <a href="#" class="cam-btn">Order now</a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- End hero area -->

      <!-- Start Cam Service Area -->
      <div class="cam-service-area" id="features">
        <div class="container">
          <div class="row">
            <div class="col-md-4">
              <div class="cam-single-service wow fadeInLeft">
                <h4><a href="#">Well Planed UX Design</a></h4>
                <p>Student at Australin National University and theof a paper published in Nature on Wednesdi anJones and his colleagues developed </p>
              </div>
            </div>
            <div class="col-md-4">
              <div class="cam-single-service wow fadeInUp">
                <h4><a href="#">Easy to use your product</a></h4>
                <p>Student at Australin National University and theof a paper published in Nature on Wednesdi anJones and his colleagues developed </p>
              </div>
            </div>
            <div class="col-md-4">
              <div class="cam-single-service wow fadeInRight">
                <h4><a href="#">24 hours customer service</a></h4>
                <p>Student at Australin National University and theof a paper published in Nature on Wednesdi anJones and his colleagues developed </p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- End Cam Service Area -->

      <!-- Start Cam About Video Area -->
      <div class="cam-about-area">
        <div class="cam-video wow fadeInLeft">
          <a class="venobox vbox-item" data-gall="gall-video" data-autoplay="true" data-vbtype="video" href="https://vimeo.com/75976293"><i class="fa fa-play"></i></a>
        </div>
        <div class="container">
          <div class="row">
            <div class="col-md-7"></div>
            <div class="col-md-5">
              <div class="cam-about-content wow fadeInRight">
                <h2>Check video presentation to find out more about us</h2>
                <p>Looking for these genetic signposts in sediment has become 
                possible only in the last few years, with recent developments in 
                technology, including rapid sequencing of DNA. Although DNA 
                sticks to minerals and decayed.</p>
                <p>Tracks along the Hawaiian-Emperor chain formed over the same hot spot in the Pacific Ocean — and why are their .</p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- End Cam About Video Area -->

      <!-- Start Cam Specification Area -->
      <div class="cam-specification-area" id="spec">
        <div class="cam-spe-img">
          <img src="{{ url_for('static', filename='assets/img/livecam/cam3.jpg') }}" alt="">
        </div>
        <div class="container">
          <div class="row">
            <div class="col-md-6">
              <div class="cam-spec-title">
                <h2>Specification</h2>
              </div>
              <div class="cam-single-spec-content wow fadeInLeft">
                <div class="spec-img">
                  <img src="{{ url_for('static', filename='assets/img/livecam/camera.png') }}" alt="">
                </div>
                <div class="spec-content">
                  <h4>Camera(360˚ Dual Lens)</h4>
                  <p>Video - up to 4096x2048 (24fps)</p>
                  <p>Still - up to 15M (5472x2736)</p>
                </div>
              </div>
              <div class="cam-single-spec-content wow fadeInUp">
                <div class="spec-img">
                  <img src="{{ url_for('static', filename='assets/img/livecam/os.png') }}" alt="">
                </div>
                <div class="spec-content">
                  <h4>Camera(360˚ Dual Lens)</h4>
                  <p>Video - up to 4096x2048 (24fps)</p>
                  <p>Still - up to 15M (5472x2736)</p>
                </div>
              </div>
              <div class="cam-single-spec-content wow fadeInRight">
                <div class="spec-img">
                  <img src="{{ url_for('static', filename='assets/img/livecam/recoder.png') }}" alt="">
                </div>
                <div class="spec-content">
                  <h4>Camera(360˚ Dual Lens)</h4>
                  <p>Video - up to 4096x2048 (24fps)</p>
                  <p>Still - up to 15M (5472x2736)</p>
                </div>
              </div>
              <div class="cam-learn-more">
                <a href="#">Learn more</a>
              </div>
            </div>
            <div class="col-col-md-6"></div>
          </div>
        </div>
      </div>
      <!-- End Cam Specification Area -->

      <!-- Start Cam Product Area -->
      <div class="cam-product-area" id="product">
        <div class="container">
          <div class="row">
            <div class="col">
              <div class="cam-center-title">
                <h2>Choose the product that <br> you really need!</h2>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-4">
              <div class="single-cam-product wow fadeInLeft">
                <img src="{{ url_for('static', filename='assets/img/livecam/procam1.png') }}" alt="">
                <h5>Samsung Gear 360 4K Spherical</h5>
                <a href="#" class="cam-btn">Buy now</a>
              </div>
            </div>
            <div class="col-md-4">
              <div class="single-cam-product wow fadeInUp active">
                <img src="{{ url_for('static', filename='assets/img/livecam/procam2.png') }}" alt="">
                <h5>Samsung Gear 360 4K Spherical</h5>
                <a href="#" class="cam-btn">Buy now</a>
              </div>
            </div>
            <div class="col-md-4">
              <div class="single-cam-product wow fadeInRight">
                <img src="{{ url_for('static', filename='assets/img/livecam/procam3.png') }}" alt="">
                <h5>Samsung Gear 360 4K Spherical</h5>
                <a href="#" class="cam-btn">Buy now</a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- End Cam Product Area -->

      <!-- Start cam View Area -->
      <div class="cam-view-area" id="reviews">
        <div class="container">
          <div class="row">
            <div class="col-md-8 offset-md-2">
              <div class="cam-view-content">
                <h4>360° views from Gear 360</h4>
                <p>Especially significant in a state imperiled by rising sea Rick Scott, who has
                 said he is unconvinced that  real and whose administration is widely
                would be traveling at more than miles per hour as.</p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- End cam View Area -->

      <!-- Start Cam Testimonial Area -->
      <div class="cam-testimonial-area">
        <div class="container">
          <div class="row">
            <div class="col">
              <div class="cam-center-title">
                <h2>We have received tons of <br>awesome testimonials</h2>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col">
              <div class="cam-testimonial-wrap owl-carousel wow fadeInUp">
                <div class="cam-single-testimonial">
                  <div class="cam-quote-img">
                    <img src="{{ url_for('static', filename='assets/img/livecam/quote.png') }}" alt="">
                  </div>
                  <div class="cam-textimonial-content">
                    <p>Connection between our planet and 
                    the heavens above. These volcanoes, 
                    which have beguiled millions of touri
                    sts visiting the Hawaiian islands, hav
                    ealso plagued scientists with a long
                    running mystery.</p>
                  </div>
                  <div class="cam-textimonial-info">
                    <div class="cam-testi-img">
                      <img src="{{ url_for('static', filename='assets/img/livecam/cam-testi1.png') }}" alt="">
                    </div>
                    <div class="cam-testi-info">
                      <h5>Daphnee Schoen</h5>
                      <span>Founder RRF online</span>
                    </div>
                  </div>
                </div>
                <div class="cam-single-testimonial">
                  <div class="cam-quote-img">
                    <img src="{{ url_for('static', filename='assets/img/livecam/quote.png') }}" alt="">
                  </div>
                  <div class="cam-textimonial-content">
                    <p>Connection between our planet and 
                    the heavens above. These volcanoes, 
                    which have beguiled millions of touri
                    sts visiting the Hawaiian islands, hav
                    ealso plagued scientists with a long
                    running mystery.</p>
                  </div>
                  <div class="cam-textimonial-info">
                    <div class="cam-testi-img">
                      <img src="{{ url_for('static', filename='assets/img/livecam/cam-testi2.png') }}" alt="">
                    </div>
                    <div class="cam-testi-info">
                      <h5>Daphnee Schoen</h5>
                      <span>Founder RRF online</span>
                    </div>
                  </div>
                </div>
                <div class="cam-single-testimonial">
                  <div class="cam-quote-img">
                    <img src="{{ url_for('static', filename='assets/img/livecam/quote.png') }}" alt="">
                  </div>
                  <div class="cam-textimonial-content">
                    <p>Connection between our planet and 
                    the heavens above. These volcanoes, 
                    which have beguiled millions of touri
                    sts visiting the Hawaiian islands, hav
                    ealso plagued scientists with a long
                    running mystery.</p>
                  </div>
                  <div class="cam-textimonial-info">
                    <div class="cam-testi-img">
                      <img src="{{ url_for('static', filename='assets/img/livecam/cam-testi3.png') }}" alt="">
                    </div>
                    <div class="cam-testi-info">
                      <h5>Daphnee Schoen</h5>
                      <span>Founder RRF online</span>
                    </div>
                  </div>
                </div>
              </div> <!-- /.cam-testimonial-wrap -->
            </div>
          </div>
        </div>
      </div>
      <!-- End Cam Testimonial Area -->

      <!-- Start Cam Subscribe Area -->
      <div class="cam-subscribe-area" id="support">
        <div class="container">
          <div class="row">
            <div class="col">
              <div class="cam-center-title wow fadeInUp">
                <h2>Subscribe to our newsletter <br>and get update</h2>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-lg-6 offset-lg-3">
              <form action="#" method="post" class="cam-subscribe-form">
                <input name="email" class="widget-input wow fadeInLeft" placeholder="Enter Your Email..." type="email">
                <button type="submit" class="widget-sbtn-cam wow fadeInRight">Subscribe</button>
              </form>
            </div>
          </div>
        </div>
      </div>
      <!-- End Cam Subscribe Area -->

      <!-- Start Cam Footer Area -->
      <footer class="cam-footer-area wow fadeInUp" id="contact">
        <div class="container">
          <div class="row">
            <div class="col-lg-6 col-md-4">
              <div class="widget social cam">
                <a href="{{ url_for('main_teleskop.teleskop') }}">
                  <img src="{{ url_for('static', filename='assets/img/livecam/logo.png') }}" alt="">
                </a>
                <div class="cam-social">
                  <h5>Social media</h5>
                  <ul>
                    <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                    <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                    <li><a href="#"><i class="fa fa-instagram"></i></a></li>
                    <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                  </ul>
                </div>
              </div>
            </div>
            <div class="col-lg-3 col-md-4">
              <div class="widget cam-links">
                <h4 class="cam-widget-title">Useful links</h4>
                <ul>
                  <li><a href="#">Payment options</a></li>
                  <li><a href="#">Customer support</a></li>
                  <li><a href="#">Order tracking</a></li>
                  <li><a href="#">Delivery & returns</a></li>
                </ul>
              </div>
            </div>
            <div class="col-lg-3 col-md-4">
              <div class="widget contact cam">
                <h4 class="cam-widget-title">Contact us</h4>
                <a href="tel:"><span><i class="fa fa-phone"></i></span>(470) 151-2367</a>
                <a href="mailto:"><span><i class="fa fa-envelope"></i></span>lavina.oreilly@yahoo.com</a>
                <a href="#"><span><i class="fa fa-home"></i></span>4504 Wilkinson Harbors, New Lauretta, VA 39768</a>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-5">
              <div class="cam-copy">
                <p>Design by @copyCrazycafe all right reserved</p>
              </div>
            </div>
            <div class="col-md-7">
              <div class="cam-footer-menu text-right">
                <ul>
                  <li><a href="#">FAQ</a></li>                    
                  <li><a href="#">Privacy</a></li>
                  <li><a href="#">Terms and conditions</a></li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </footer>
      <!-- End Cam Footer Area -->
    </div>
    <!-- End Wrapper -->

    <!-- all js here -->
    <script src="{{ url_for('static', filename='assets/js/vendor/jquery-2.2.1.min.js') }}"></script>
    <script src="{{ url_for('static', filename='assets/js/bootstrap.min.js') }}"></script>
    <script src="{{ url_for('static', filename='assets/js/plugins.js') }}"></script>
    <script src="{{ url_for('static', filename='assets/js/main.js') }}"></script>
  </body>
</html>